@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');/*Roboto Mono*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Work+Sans:wght@300&display=swap');/*Alkatra*/

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Work+Sans:wght@300&display=swap');/*Noto Serif*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Work+Sans:wght@300&display=swap');/*Zilla Slab*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Work+Sans:wght@300&display=swap');/*Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');/*Hind*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');/*Poppins*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}